<?xml version="1.0"?>
<COLLADA xmlns="http://www.collada.org/2005/11/COLLADASchema" version="1.4.1">
    <asset>
        <contributor>
            <authoring_tool>github/lol-model-format</authoring_tool>
        </contributor>
        <unit meter="0.01" name="centimeter"/>
        <up_axis>Y_UP</up_axis>
    </asset>
    <library_cameras>
        <camera id="cameraShape1" name="cameraShape1">
            <optics>
                <technique_common>
                    <perspective>
                        <yfov>37.8492</yfov>
                        <aspect_ratio>1.5</aspect_ratio>
                        <znear>1</znear>
                        <zfar>10000</zfar>
                    </perspective>
                </technique_common>
            </optics>
        </camera>
    </library_cameras>
    <library_lights>
        <light id="directionalLightShape1-lib" name="directionalLightShape1">
            <technique_common>
                <directional>
                    <color>1 1 1</color>
                </directional>
            </technique_common>
        </light>
    </library_lights>
    <library_images>
        <image id="skin" name="skin" depth="1">
            <init_from><%= @model["texture-file-name"] %></init_from>
        </image>
    </library_images>
    <library_materials>
        <material id="material" name="material">
            <instance_effect url="#material-fx"/>
        </material>
    </library_materials>
    <library_effects>
        <effect id="material-fx">
            <profile_COMMON>
                <newparam sid="skin-surface">
                    <surface type="2D">
                        <init_from>skin</init_from>
                        <format>A8R8G8B8</format>
                    </surface>
                </newparam>
                <newparam sid="skin-sampler">
                    <sampler2D>
                        <source>skin-surface</source>
                        <minfilter>LINEAR_MIPMAP_LINEAR</minfilter>
                        <magfilter>LINEAR</magfilter>
                    </sampler2D>
                </newparam>
                <technique sid="common">
                    <blinn>
                        <emission>
                            <color>0 0 0 1</color>
                        </emission>
                        <ambient>
                            <color>0 0 0 1</color>
                        </ambient>
                        <diffuse>
                            <texture texture="skin-sampler" texcoord="TEX0"/>
                        </diffuse>
                        <specular>
                            <color>0 0 0 1</color>
                        </specular>
                        <shininess>
                            <float>0.3</float>
                        </shininess>
                        <reflective>
                            <color>0 0 0 1</color>
                        </reflective>
                        <reflectivity>
                            <float>0.5</float>
                        </reflectivity>
                        <transparent>
                            <color>0 0 0 1</color>
                        </transparent>
                        <transparency>
                            <float>1</float>
                        </transparency>
                        <index_of_refraction>
                            <float>1</float>
                        </index_of_refraction>
                    </blinn>
                </technique>
            </profile_COMMON>
        </effect>
    </library_effects>
    <library_geometries>
        <geometry id="LOLModel-lib" name="LOLModel">
            <mesh>
                <source id="LOLModel-lib-positions" name="position">
                    <float_array id="LOLModel-lib-positions-array" count="<%= @model["positions-array-size"] %>"><%= @model["positions-array"] %></float_array>
                    <technique_common>
                        <accessor count="<%= @model["positions-array-size"] / 3 %>" offset="0" source="#LOLModel-lib-positions-array" stride="3">
                            <param name="X" type="float"/>
                            <param name="Y" type="float"/>
                            <param name="Z" type="float"/>
                        </accessor>
                    </technique_common>
                </source>
                <source id="LOLModel-lib-normals" name="normal">
                    <float_array id="LOLModel-lib-normals-array" count="<%= @model["normals-array-size"] %>"><%= @model["normals-array"] %></float_array>
                    <technique_common>
                        <accessor count="<%= @model["normals-array-size"] / 3 %>" offset="0" source="#LOLModel-lib-normals-array" stride="3">
                            <param name="X" type="float"/>
                            <param name="Y" type="float"/>
                            <param name="Z" type="float"/>
                        </accessor>
                    </technique_common>
                </source>
                <source id="LOLModel-lib-map1" name="map1">
                    <float_array id="LOLModel-lib-map1-array" count="<%= @model["map-array-size"] %>"><%= @model["map-array"] %></float_array>
                    <technique_common>
                        <accessor count="<%= @model["map-array-size"] / 2 %>" offset="0" source="#LOLModel-lib-map1-array" stride="2">
                            <param name="S" type="float"/>
                            <param name="T" type="float"/>
                        </accessor>
                    </technique_common>
                </source>
                <vertices id="LOLModel-lib-vertices">
                    <input semantic="POSITION" source="#LOLModel-lib-positions"/>
                </vertices>
                <triangles count="<%= @model["triangles-array-size"] %>" material="materialSG">
                    <input offset="0" semantic="VERTEX" source="#LOLModel-lib-vertices"/>
                    <input offset="1" semantic="NORMAL" source="#LOLModel-lib-normals"/>
                    <input offset="2" semantic="TEXCOORD" source="#LOLModel-lib-map1" set="0"/>
                    <p><%= @model["triangles-array"] %></p>
                </triangles>
            </mesh>
        </geometry>
    </library_geometries>
    <library_visual_scenes>
        <visual_scene id="VisualSceneNode" name="untitled">
            <node id="LOLModel" name="LOLModel">
                <rotate sid="rotateZ">0 0 1 0</rotate>
                <rotate sid="rotateY">0 1 0 0</rotate>
                <rotate sid="rotateX">1 0 0 0</rotate>
                <instance_geometry url="#LOLModel-lib">
                    <bind_material>
                        <technique_common>
                            <instance_material symbol="materialSG" target="#material">
                                <bind_vertex_input semantic="TEX0" input_semantic="TEXCOORD" input_set="0"/>
                            </instance_material>
                        </technique_common>
                    </bind_material>
                </instance_geometry>
            </node>
            <node id="camera1" name="camera1">
                <translate sid="translate">400.113 463.264 -431.078</translate>
                <rotate sid="rotateZ">0 0 1 0</rotate>
                <rotate sid="rotateY">0 1 0 -223.2</rotate>
                <rotate sid="rotateX">1 0 0 -38.4</rotate>
                <instance_camera url="#cameraShape1"/>
            </node>
            <node id="directionalLight1" name="directionalLight1">
                <translate sid="translate">148.654 183.672 -292.179</translate>
                <rotate sid="rotateZ">0 0 1 -12.8709</rotate>
                <rotate sid="rotateY">0 1 0 -191.679</rotate>
                <rotate sid="rotateX">1 0 0 -45.6358</rotate>
                <instance_light url="#directionalLightShape1-lib"/>
            </node>
        </visual_scene>
    </library_visual_scenes>
    <scene>
        <instance_visual_scene url="#VisualSceneNode"/>
    </scene>
</COLLADA>