<?xml version="1.0"?>
<COLLADA xmlns="http://www.collada.org/2005/11/COLLADASchema" version="1.4.1">
    <asset>
        <contributor>
            <authoring_tool>github/lol-model-format</authoring_tool>
        </contributor>
        <unit meter="0.01" name="centimeter"/>
        <up_axis>Y_UP</up_axis>
    </asset>
    <library_images>
        <image id="skin" name="skin" depth="1">
            <init_from><%= @model["texture-file-name"] %></init_from>
        </image>
    </library_images>
    <library_materials>
        <material id="material" name="material">
            <instance_effect url="#material-fx"/>
        </material>
    </library_materials>
    <library_effects>
        <effect id="material-fx">
            <profile_COMMON>
                <newparam sid="skin-surface">
                    <surface type="2D">
                        <init_from>skin</init_from>
                        <format>A8R8G8B8</format>
                    </surface>
                </newparam>
                <newparam sid="skin-sampler">
                    <sampler2D>
                        <source>skin-surface</source>
                        <minfilter>LINEAR_MIPMAP_LINEAR</minfilter>
                        <magfilter>LINEAR</magfilter>
                    </sampler2D>
                </newparam>
                <technique sid="common">
                    <blinn>
                        <emission>
                            <color>0 0 0 1</color>
                        </emission>
                        <ambient>
                            <color>0 0 0 1</color>
                        </ambient>
                        <diffuse>
                            <texture texture="skin-sampler" texcoord="TEX0"/>
                        </diffuse>
                        <specular>
                            <color>0 0 0 1</color>
                        </specular>
                        <shininess>
                            <float>0.3</float>
                        </shininess>
                        <reflective>
                            <color>0 0 0 1</color>
                        </reflective>
                        <reflectivity>
                            <float>0.5</float>
                        </reflectivity>
                        <transparent>
                            <color>0 0 0 1</color>
                        </transparent>
                        <transparency>
                            <float>1</float>
                        </transparency>
                        <index_of_refraction>
                            <float>1</float>
                        </index_of_refraction>
                    </blinn>
                </technique>
            </profile_COMMON>
        </effect>
    </library_effects>
    <library_geometries>
        <geometry id="LOLModel-geometry" name="LOLModel">
            <mesh>
                <source id="LOLModel-geometry-positions" name="position">
                    <float_array id="LOLModel-geometry-positions-array" count="<%= @model["positions-array-size"] %>"><%= @model["positions-array"] %></float_array>
                    <technique_common>
                        <accessor count="<%= @model["positions-array-size"] / 3 %>" offset="0" source="#LOLModel-geometry-positions-array" stride="3">
                            <param name="X" type="float"/>
                            <param name="Y" type="float"/>
                            <param name="Z" type="float"/>
                        </accessor>
                    </technique_common>
                </source>
                <source id="LOLModel-geometry-normals" name="normal">
                    <float_array id="LOLModel-geometry-normals-array" count="<%= @model["normals-array-size"] %>"><%= @model["normals-array"] %></float_array>
                    <technique_common>
                        <accessor count="<%= @model["normals-array-size"] / 3 %>" offset="0" source="#LOLModel-geometry-normals-array" stride="3">
                            <param name="X" type="float"/>
                            <param name="Y" type="float"/>
                            <param name="Z" type="float"/>
                        </accessor>
                    </technique_common>
                </source>
                <source id="LOLModel-geometry-uvmap" name="uvmap">
                    <float_array id="LOLModel-geometry-uvmap-array" count="<%= @model["map-array-size"] %>"><%= @model["map-array"] %></float_array>
                    <technique_common>
                        <accessor count="<%= @model["map-array-size"] / 2 %>" offset="0" source="#LOLModel-geometry-uvmap-array" stride="2">
                            <param name="S" type="float"/>
                            <param name="T" type="float"/>
                        </accessor>
                    </technique_common>
                </source>
                <vertices id="LOLModel-geometry-vertices">
                    <input semantic="POSITION" source="#LOLModel-geometry-positions"/>
                </vertices>
                <triangles count="<%= @model["triangles-array-size"] %>" material="materialSG">
                    <input offset="0" semantic="VERTEX" source="#LOLModel-geometry-vertices"/>
                    <input offset="1" semantic="NORMAL" source="#LOLModel-geometry-normals"/>
                    <input offset="2" semantic="TEXCOORD" source="#LOLModel-geometry-uvmap" set="0"/>
                    <p><%= @model["triangles-array"] %></p>
                </triangles>
            </mesh>
        </geometry>
    </library_geometries>
    <library_visual_scenes>
        <visual_scene id="VisualSceneNode" name="untitled">
            <node id="LOLModel" name="LOLModel">
                <rotate sid="rotateZ">0 0 1 0</rotate>
                <rotate sid="rotateY">0 1 0 0</rotate>
                <rotate sid="rotateX">1 0 0 0</rotate>
                <instance_geometry url="#LOLModel-geometry">
                    <bind_material>
                        <technique_common>
                            <instance_material symbol="materialSG" target="#material">
                                <bind_vertex_input semantic="TEX0" input_semantic="TEXCOORD" input_set="0"/>
                            </instance_material>
                        </technique_common>
                    </bind_material>
                </instance_geometry>
            </node>
        </visual_scene>
    </library_visual_scenes>
    <scene>
        <instance_visual_scene url="#VisualSceneNode"/>
    </scene>
</COLLADA>